$loop-count: 12;

@for $i from 0 through $loop-count {
    $margin:  $i * 1rem;
    .mx#{$i} {
        margin-top: $margin;
        margin-bottom:  $margin;
    }

    .m-tx#{$i} {
        margin-top: $margin;
    }

    .m-tx-#{$i} {
        margin-top: -1 * $margin;
    }

    .m-bx#{$i} {
        margin-bottom: $margin;
    }

    .m-bx-#{$i} {
        margin-bottom: -1 * $margin;
    }

    @media ($sm-min) {
        .m-sm-tx#{$i} {
            margin-top: $margin !important;
        }

        .m-sm-tx-#{$i} {
            margin-top: -1 * $margin !important;
        }
    
        .m-sm-bx#{$i} {
            margin-bottom: $margin !important;
        }

        .m-sm-bx-#{$i} {
            margin-bottom: -1 * $margin !important;
        }
    }

    @media ($md-min) {
        .m-md-tx#{$i} {
            margin-top: $margin;
        }
    
        .m-md-bx#{$i} {
            margin-bottom: $margin;
        }
    }
}

@media ($sm-min ) {
    .col-sm-offset-0 {
        margin-left: 0;
    }
}

@media ($md-min ) {
    .col-md-offset-0 {
        margin-left: 0;
    }
}