body { 
    font-family: 'Roboto', arial, sans-serif;
}

h1, h2, h3, h4, .title {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 4rem;
    color: $green;

    @media ($sm-min) {
        font-size: 6rem;
    }

    @media ($md-min) {
        font-size: 8rem;
    }
}

h2 {
    font-size: 4.4rem;
    line-height: 5rem;
}

h3 {
    font-size: 2.8rem;
    line-height: 1.2;
}

p, ul {
    font-size: 2rem;
    line-height: 1.5;
}

li {
    margin-bottom: 1rem;
}

a {
    color: $charcoal;
    font-weight: bold;
    transition: $transition-color;

    &:hover, &:focus {
        color: $green;
    }

    .section--green & {
        color: $black;

        &:hover, &:focus {
            color: $white;
        }
    }
}

.green {
    color: $green;
}

.white {
    color: $white;
}

.charcoal {
    color: $charcoal;
}

.black {
    color: $black;
}

.center {
    text-align: center;
}

.title {
    font-size: 2.4rem;
    font-weight: 700;

    @media ($sm-min) {
        font-size: 4.6rem;
    }
}

.caption--large {
    font-size: 2.4rem;

    @media ($sm-min) {
        font-size: 3rem;
    }
}

.pullout {
    font-size: 2.6rem;
    line-height: 1.2;

    @media ( $sm-min ) {
        font-size: 3rem;
    }
}