// Colours
$green:             #88CB1C;
$lightgreen:        #EEFADB;
$charcoal:          #30343F;
$black:             #000000;
$white:             #FFFFFF;
$beige:             #FCF7D9;
$grey:              #E8E9ED;
$midgrey:           #AFB2C0;


$z-shapes: 0;
$z-caption: 10;

$sm: 48rem;
$md: 64rem;
$lg: 80rem;
$xlg: 90rem;
// Flex
$grid-columns: 12;
$gutter-width: 4rem;
$outer-margin: 4rem;
$flexboxgrid-breakpoints:
  sm #{$sm},
  md #{$md},
  lg #{$lg},
  xlg #{$xlg};
$flexboxgrid-max-width: 1080px;


// Transition 
$transition-duration: 300ms;
$transition-easing: ease-in-out;
$transition-color: color $transition-easing $transition-duration;


// Media
$sm-min: 'min-width: #{$sm}';
$md-min: 'min-width: #{$md}';
$lg-min: 'min-width: #{$lg}';
$xlg-min: 'min-width: #{$xlg}';