.banner {

    &__logo {
        width: 80%;
        max-width: 250px;
    }

    &__img-container {
        position: relative;
        padding-left: 10%;

        &:before {
            content: '';
            @include pos(absolute, 10%, 10%, null, null , $z-shapes);
            background-color: $grey;
            width: 90%;
            height: 100%;
        }
    }
}